* {
    box-sizing: border-box;
}

#content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#div_container {
    display: flex;
    background-color: red;
    /* justify-content: space-around; */
    width: 875px !important;
    height: 875px !important;
    flex-direction: column;
    border: 2px solid black;
}

.div-line{
    display: flex;
    /* justify-items: stretch;
    align-items: stretch; */
}

.div-pixel {
    width: 20px;
    height: 20px;
    text-align: center;
    align-self: stretch;
}

.selected {
    background-color: white;
}