* {
    box-sizing: border-box;
}

#content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#div_container {
    display: grid;
    background-color: red;
    max-width: 600px !important;
    max-height: 600px !important;
    min-width: 600px !important;
    min-height: 600px !important;
    width: 600px !important;
    height: 600px !important;
    border: 2px solid black;
}

.div-line {
    display: grid;
    
}

.div-pixel {
}

.selected {
    background-color: white;
}