* {
    box-sizing: border-box;
}

#content_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#div_container {
    display: flex;
    background-color: red;
    /* justify-content: space-around; */
    width: 50vw;
    flex-direction: column;
    border: 2px solid black;
}

.div-line{
    display: flex;
    justify-content: space-around;
}

.div-pixel {
    width: 100%;
    text-align: center;
}

.selected {
    background-color: white;
}